aiohttp
aiosignal
alabaster
altair
annotated-types
anthropic
antlr4-python3-runtime
anyio
appdirs
appnope
arrow
asgiref
asttokens
attrs
azure-ai-textanalytics
azure-ai-vision-imageanalysis
azure-common
azure-core
Babel
backcall
backoff
bcrypt
beautifulsoup4
binaryornot
bleach
blinker
bracex
Brotli
build
CacheControl
cachetools
cairocffi
CairoSVG
certifi
cffi
cfgv
chardet
charset-normalizer
chroma-hnswlib
chromadb
chromedriver-binary
chromedriver-binary-auto
click
click-man
cloup
colorama
coloredlogs
contourpy
cookiecutter
cryptography
csscompressor
cssselect2
cycler
Cython
dataclasses-json
decorator
deepdiff
defusedxml
Deprecated
detect-secrets
diskcache
distlib
distro
dnspython
docker
docopt
docutils
EditorConfig
effdet
email-validator
emoji
et-xmlfile
executing
fastapi
fastapi-cli
fastjsonschema
filelock
filetype
FLAML
Flask
Flask-DebugToolbar
Flask-Login
Flask-Mail
flask-mongo-sessions
flask-mongoengine
Flask-PyMongo
Flask-SQLAlchemy
Flask-User
Flask-WTF
flatbuffers
fonttools
fpdf2
frozendict
frozenlist
fsspec
ghp-import
git-dummy
git-sim
gitdb
github3.py
GitPython
glcontext
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
greenlet
griffe
groq
grpcio
grpcio-status
gunicorn
h11
hjson
html5lib
htmlmin2
httpcore
httptools
httpx
huggingface-hub
humanfriendly
identify
idna
imageio
imagesize
importlib_metadata
importlib_resources
iniconfig
iopath
ipython
isodate
isosurfaces
itsdangerous
jedi
Jinja2
jiter
joblib
jsbeautifier
jsmin
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kaleido
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-text-splitters
langdetect
langsmith
layoutparser
lazy_loader
libsass
lumache
lxml
manim
ManimPango
mapbox-earcut
Markdown
markdown-callouts
markdown-include
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mergedeep
mike
mistune
mkdocs
mkdocs-autorefs
mkdocs-codeinclude-plugin
mkdocs-exclude
mkdocs-get-deps
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-include-markdown-plugin
mkdocs-macros-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-mermaid2-plugin
mkdocs-minify-plugin
mkdocs-monorepo-plugin
mkdocs-pdf-export-plugin
mkdocs-print-site-plugin
mkdocs-redirects
mkdocs-render-swagger-plugin
mkdocs-rss-plugin
mkdocs-swagger-ui-tag
mkdocs-table-reader-plugin
mkdocs-with-pdf
mkdocstrings
mkdocstrings-crystal
mkdocstrings-python
mmh3
moderngl
moderngl-window
mongoengine
monotonic
mpmath
msgpack
multidict
multipledispatch
multitasking
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nodeenv
numpy
oauthlib
olefile
ollama
omegaconf
onnx
onnxruntime
openai
opencv-python
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
ordered-set
orjson
outcome
overrides
packaging
paginate
pandas
pandocfilters
parso
passlib
pathspec
pdf2image
pdfminer.six
pdfplumber
peewee
pexpect
pickleshare
pika
pikepdf
Pillow
pillow_heif
pip-tools
pipreqs
platformdirs
playwright
plotly
pluggy
poppler-utils
portalocker
posthog
pre_commit
prompt_toolkit
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pyautogen
pycairo
pycocotools
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydot
pydub
pydyf
pyee
PyGithub
pyglet
Pygments
PyJWT
pymdown-extensions
pymongo
PyMuPDF
PyNaCl
pyobjc-core
pyobjc-framework-Cocoa
pypandoc
pyparsing
pypdf
pypdfium2
pyphen
PyPika
pyproject_hooks
pyrr
PySocks
pytesseract
pytest
pytest-base-url
pytest-playwright
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
python-oxmsg
python-pptx
python-slugify
pytz
PyYAML
pyyaml_env_tag
pyzmq
rapidfuzz
referencing
regex
repo-activity-score
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-image
scipy
screeninfo
selenium
setuptools
shellingham
six
skia-pathops
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
srt
stack-data
starlette
streamlit
super_collections
svgelements
sympy
tabulate
tach
tenacity
termcolor
text-unidecode
tifffile
tiktoken
timm
tinycss2
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
tzlocal
ujson
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
uritemplate
urllib3
uvicorn
uvloop
validators
verspec
virtualenv
watchdog
watchfiles
wcmatch
wcwidth
weasyprint
webdriver-manager
webencodings
websocket-client
websockets
Werkzeug
wheel
wrapt
wsproto
WTForms
xlrd
XlsxWriter
yamllint
yarg
yarl
yfinance
zipp
zopfli
